* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    vertical-align: middle;
    width: 150px;
    padding-left: 30px;
}

header {
    padding: 20px;
    background-color: white;
    margin-bottom: 150px;
}

h1 {
    vertical-align: middle;
    font-size: 100px;
    display: inline;
}

.container {
    margin-bottom: 100px;
    border-radius: 15px;
    background-color: white;
    width: 1700px;
}

.add-bar{
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
    border-bottom: 10px solid lightgrey;
    padding: 50px;
}

.w3s{
    text-align: center;
}

.add-task {
    font-size: 25px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(71, 154, 223);
    color: white;
    display: inline;
    margin-right: 10px;
    border: 1px solid grey;
}

a {
    color: white;
    text-decoration: none;
}

.add-section {
    font-size: 25px;
    border: 1px solid grey;
    color: grey;
    padding: 10px;
    border-radius: 20px;
    display: inline;
}

.content{
    padding: 50px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.tasks {
    padding-top: 50px;
    font-size: 2.5em;
}

/*entities*/

.triangle {
    padding: 5px;
    font-size: 25px;
    display: inline;
}

.check {
    border-radius: 50%;
    display: inline;
    color: green;
    padding: 5px;
    border: 1px solid green;
}

.cross {
    border-radius: 50%;
    display: inline;
    color: red;
    padding: 5px;
    border: 1px solid red;
}

li {
    margin-bottom: 15px;
    font-size: 1.8em;
    padding-top: 10px;
}

/*reminders*/

.reminder {
    background-color: rgb(71, 154, 223);
    font-size: 25px;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50px;
    display: inline;
}

/*reminders colors*/

.reminder-recruit{
    background-color: #64C0A9;
}

.reminder-sales {
    background-color: greenyellow;    
}

.reminder-goals{
background-color: #9C72E4;
}

.reminder-mobile{
background-color: #F29E33;
}

.reminder-web{
    background-color: #D863A1;
}
